<div class="row">
  <div class="col s12 m8 offset-m2" *ngFor="let details of current.details">
    <div class="card-panel grey lighten-5 z-depth-1">
      <p class="flow-text" *ngIf="!showForecastLink">
        <span *ngIf="current.city.country">({{ current.city.country }})</span> {{ current.city.name }}
      </p>
      <p *ngIf="showForecastLink">
        <a [routerLink]="['/cities', current.city.id]">
          <span *ngIf="current.city.country">({{ current.city.country }})</span> {{ current.city.name }}
        </a>
      </p>
      <div class="row valign-wrapper">
        <div class="col s3">
          <img src="http://openweathermap.org/img/w/01d.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
          <div class="row">
            <div class="col s12">
              {{ details.datetime | date:'MM/dd/yyyy'}}
            </div>
            <div class="col s12">
              {{ details.datetime | date:'shortTime'}}
            </div>
          </div>
        </div>

        <div class="col s9">
          <div class="row temperature">
            <div class="col s12 m6">
              <span class="badge yellow left">{{ details.max_temp }}</span>
              <span class="badge left">{{ details.min_temp }}</span>
            </div>
            <div class="col s12 m6">
              <span>{{ details.description }}</span>
            </div>
          </div>

          <div class="row wind">
            <div class="col sm-12">
              <span>{{ details.wind_speed }} m/s</span>
            </div>
          </div>

          <div class="row clouds pressure">
            <div class="col sm-12 m6 left">
              <span>Clouds: {{ details.clouds }}%, {{ details.pressure }}hpa</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
