<form (ngSubmit)="navigate()" #f="ngForm" >
  <div class="row">
    <div class="input-field col s6">
      <input id="country"
      type="text"
      required
      [(ngModel)]="search.country"
      name='country' class="validate">
      <label for="country">Country</label>
    </div>

    <div class="input-field col s6">
      <input id="city" type="text"
      required
      [(ngModel)]="search.city"
      name='city' class="validate">
      <label for="city">City</label>
    </div>

    <div class="col s12">
      <button type="submit" [disabled]="!(f.valid)" class="waves-effect waves-light btn blue right"> Search </button>
    </div>
  </div>
</form>

<app-preloader *ngIf="loading"></app-preloader>

<app-city-weather *ngIf="result" [current]="result"></app-city-weather>
